body {
    background: #EEEEEE;
}

.ica-main {
    width: 80%;
    min-width: 400px;
    max-width: 100%;
    margin: auto;
}

.ica-main h1 {
    text-align: center;
}

.ica-container-holder {
    display: flex;
    flex-direction: row;
}

.ica-split-container {
    margin: auto;
    padding: 1em;
    width: 50%;
    text-align: center;
}

.ica-split-container label,
.ica-split-container input {
    width: 90%;
    max-width: 300px;
    font-size: 1.2em;
}

.ica-skinny-container {
    width: 50%;
    min-width: 300px;
    margin: auto;
    overflow: auto;
}

.ica-results-image-holder {
    text-align: center;
}

.ica-results-image-holder img {
    max-width: 400px;
    width: 100%;
    margin: auto;
    padding: 10px;
}

.ica-results-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ica-result {
    padding: 10px 30px;
    border-radius: 25%;
    border: 1px solid #ddd;
    margin: 30px;
}

.ica-result > div {
    padding: 5px;
    text-align: center;
}

.ica-result > div > div {
    width: 50px;
    height: 50px;
    margin: auto;
    border-radius: 40%;
}

.ica-results-tabs-holder {
    display: flex;
    flex-direction: row;
}

.ica-tab-button-holder {
    width: 25%;
}

.ica-tab-button-holder button {
     background: none !important;
     color: inherit;
     border: none;
     padding: 1em !important;
     font: inherit;
     /*border is optional*/
     border-bottom: 1px solid #444;
     cursor: pointer;
}
